<table width="100%" align="center" cellspacing="0"  cellpadding="0" border="0" class="full-width">
    <tbody>
        <tr><td height="10">&nbsp;</td></tr>
        <tr><td><strong>Dear <%= data.name %>,</strong></td></tr>
        <tr><td height="20">&nbsp;</td></tr>
        <tr><td height="20"></td>Your account has been marked active. Please keep participate.</tr>
    </tbody>
</table>