<html>
    <head>
        <title>PRABANDH Email</title>
    </head>
    <body marginheight="0">
        <table id="body-table" align="center" width="100%" bgcolor="#e6e5e7" cellspacing="0" cellpadding="0" border="0" style="table-layout: fixed">
            <tbody>
                <tr>
                    <td valign="top" bgcolor="#e8e8e8" align="center">
                        <table width="600" bgcolor="#ffffff" align="center" cellspacing="0" cellpadding="0" border="0" class="mobile-width">
                            <tbody>
                                <tr>
                                    <td valign="top" bgcolor="#ffffff" align="center">
                                        <table width="100%" align="center" cellspacing="0" cellpadding="0" border="0" class="content-width-menu" style="border-bottom: 3px solid #02447c">
                                            <tbody>
                                                <tr>
                                                    <td height="25" valign="middle" align="left">
                                                        <table width="100%" cellspacing="0" cellpadding="0" border="0" class="full-width">
                                                            <tbody>
                                                                <tr><td height="15">&nbsp;</td></tr>
                                                            </tbody>
                                                        </table>
                                                        <table width="100%" align="left" cellspacing="0" cellpadding="0" border="0" class="full-width">
                                                            <tbody>
                                                                <tr>
                                                                    <td height="34" valign="middle" align="center" class="center-stack">
                                                                        <h3 class="m-0">PRABANDH</h3>
                                                                            <!-- <img src="http://PRABANDH.education.gov.in/assets/admin/image/emaillogo.jpg" title="Welcome to PRABANDH - A School Volunteer Programme | Ministry of Education, Government of India"/> -->
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                        <table width="100%" cellspacing="0" cellpadding="0" border="0" class="full-width">
                                                            <tbody>
                                                                <tr><td height="15">&nbsp;</td></tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table width="600" align="center" cellspacing="0" cellpadding="0" border="0" class="mobile-width">
                                            <tbody>
                                                <tr>
                                                    <td align="center">
                                                        <table width="550" align="center" cellspacing="0" cellpadding="0" border="0" class="content-width">
                                                            <tbody>
                                                                <tr>
                                                                    <td align="center">
                                                                        <%- body %>                                                                        
                                                                        <table width="100%" align="center" cellspacing="0"  cellpadding="0" border="0" class="full-width">
                                                                            <tbody>
                                                                                <tr><td height="20">&nbsp;</td></tr>
                                                                                <tr><td height="20">Please do not reply to this email as this is a system-generated email.</td></tr>
                                                                                <tr><td height="20">&nbsp;</td></tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                        <table width="550" align="center" cellspacing="0" cellpadding="0" border="0" class="content-width">
                                                            <tbody>
                                                                <tr>
                                                                    <td align="center">
                                                                        <table width="100%" align="center" cellspacing="0" cellpadding="0" border="0" class="full-width">
                                                                            <tbody>
                                                                                <tr><td height="20">&nbsp;</td></tr>
                                                                                <tr><td><strong>Thanks &amp; Regards,</strong><br> PRABANDH Team</td></tr>
                                                                                <tr><td height="30"></td></tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table width="600" bgcolor="#02447c" align="center" cellspacing="0" cellpadding="0" border="0" class="mobile-width" style="color: #fff">
                                            <tbody>
                                                <tr>
                                                    <td align="center">
                                                        <table width="600" align="center" cellspacing="0" cellpadding="0"  border="0" class="content-width">
                                                            <tbody>
                                                                <tr><td height="10"></td></tr>
                                                                <tr>
                                                                    <td align="center" valign="top" style="color: #ffffff">
                                                                        <span style="font-weight: 500;">PRABANDH - Project Appraisal, Budgeting, Achievements and Data Handling System</span><br> Ministry of Education, Government of India
                                                                    </td>
                                                                </tr>
                                                                <tr><td height="10"></td></tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>