<table width="100%" align="center" cellspacing="0"  cellpadding="0" border="0" class="full-width">
    <tbody>
        <tr><td height="10">&nbsp;</td></tr>
        <tr><td><strong>Dear <%= data.name %></strong></td></tr>
        <tr><td height="10">&nbsp;</td></tr>
        <tr><td style="color: #de8706 ; font-size: 18px ; font-weight: 700">Welcome to PRABANDH...</td></tr>
        <tr><td height="20">&nbsp;</td></tr>
        <tr>
            <td height="20">
                You have successfully completed the registration process on PRABANDH- Project Appraisal, Budgeting, Achievements and Data Handling System. 
                You may login to the website using your mobile number.
            </td>
        </tr>
        <tr><td height="20">&nbsp;</td></tr>
        <tr><td height="20">You are requested to complete your profile after login.</td></tr>
        <tr><td height="20">&nbsp;</td></tr>
    </tbody>
</table>