.table-scroll-section {
    width: 100%;
    max-height: 600px;
    overflow: auto;
}
.table-scroll{width: 100%;}
/* (B) STICKY HEADERS */
.table-scroll thead {
    position: sticky;
    top: 0;
    z-index: 2;
    background: #2b4a91;
    color:#FFFFFF;
}

/* (C) COSMETICS - NOT IMPORTANT */
.table-scroll th,
.table-scroll td {
    font-size: 14px;
 
    text-align: left;
    border: solid 1px  #D2D2D2;
}

.table-scroll td {color: #000;   padding: 6px 5px;}

.table-scroll th {
    background: #2b4a91;
    color:#FFFFFF;
    font-weight: 700;
    z-index: 2;
    position: relative;
    text-align: center;
    white-space:nowrap;
    padding: 10px 5px !important; 
}

.table-scroll tr:nth-child(even) {
    background: #F6F9FF
}
  
.table-scroll tr:nth-child(odd) {
    background: #FFF
}

.ag-header-cell-label, .ag-header-group-cell {
    justify-content: center;
  }

.ag-input-field-input{
    text-align: right;
}

.ag-header-cell-label .ag-header-cell-text {
    white-space: wrap;
}

.ag-theme-alpine .ag-row-focus {
    background-color: rgba(33, 150, 243, 0.2);
}

/* .ag-center-cols-container{
    width: 100% !important;
} */


.row-activity_subtotal{
    background-color: green;
}
.fill_plan_edit_hover:hover{
    color:rgb(0 157 6) !important
}

.table-scroll td .btn {padding: 5px 12px !important;}