<table width="100%" align="center" cellspacing="0"  cellpadding="0" border="0" class="full-width">
    <tbody>
        <tr><td height="10">&nbsp;</td></tr>
        <tr><td><strong>Dear <%= data.name %>,</strong></td></tr>
        <tr><td height="20">&nbsp;</td></tr>
        <tr><td height="20"></td>Thank you for showing your interest, Your participation has been rejected by Officials</tr>
        <tr><td height="20">&nbsp;</td></tr>
        <tr><td height="20"></td><%= data.reason %></tr>
    </tbody>
</table>