<table width="100%" align="center" cellspacing="0"  cellpadding="0" border="0" class="full-width">
    <tbody>
        <tr><td height="10">&nbsp;</td></tr>
        <tr><td><strong>Dear Sir/Madam</strong></td></tr>
        <tr><td height="10">&nbsp;</td></tr>
        <!-- <tr><td style="color: #de8706 ; font-size: 18px ; font-weight: 700">Welcome to PRABANDH</td></tr> -->
        <tr><td height="20">&nbsp;</td></tr>
        <tr>
            <td height="20">
                Your One Time Password (OTP) is <%= data.OTP %> for 
                registration on PRABANDH portal.
            </td>
        </tr>
    </tbody>
</table>